* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

body {
    font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: #000;
}

button, input {
	outline: none;
	border: none;
}

inputL:focus {
	 outline: none;
}

.main {
	height: 100vh;
}